<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<ul class="list-group">
  <% @list.bookmark.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.title %></li>
  <% end %>
</ul>
