.film-info
{
  margin: auto;
  width: 80%;
  justify-content: center;
  height: auto;
  border-style: solid;
  border-color: grey;
  border-width: 3px;
  padding: 8px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  border-radius: 5px;
}

.bottom_bar{
  bottom: 2%;
  padding: 3px;
  display: flex;
  width: 55%;
  justify-content: space-between;
  margin: 0 auto;
  position: sticky;
  border-color: grey;
  border-width: 3px;
  border-radius: 5px;
}
